.header {
    color: $basic-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
}


.header .container{
    display: flex;
    flex-direction: column;
    gap: 112px;
    align-items: center;
}


.header__button__list {
    display: flex;
    gap: 4px;
    align-items: center;
}


.header__button__item {
}


.heder__button {
    color: $basic-color;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 700;
background-color: transparent;
padding: 11px 15px;
}

.sign-up{
    border: 2px solid $basic-color;
    border-radius: 20px;
}


.header__logo {
    color: $basic-color;
text-align: center;
font-size: 18px;
font-weight: 700;
letter-spacing: 1px;
text-transform: uppercase;
}



// tablet 768px
@media screen and (min-width: 768px) {
    .header {
        padding-top: 36px;
    }
    
    
    .header .container{
        flex-direction: row-reverse;
        gap: 0;
        justify-content: space-between;
    }
    
    
    .header__logo {
    font-size: 20px;
    }
}
