.partners {
    padding-top: 70px;
    padding-bottom: 56px;
    text-align: center;
}


.partners__title {
    color: $title-color;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 14px;
}


.partners__list {}


.partners__item {
    width: 217px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
}


.partners__img__thumb {
    position: relative;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
}


.partners__img {}


.partners__icon__overlay {
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
}


.tv{
    background-color: #FF4E50;
}


.test-tube{
    background-color: #FFA507;
}


.icon-cup{
    background-color: #1CD7AD;
}


.icon-telegram{
    background-color: #4E73DB;
}


.partners__icon {
width: 16px;
height: 16px;
fill: #fff;
}


.partners__name {
    color: $title-color;
font-size: 14px;
font-weight: 700;
margin-bottom: 13px;
}


.partners__text {
    color: $text-color;
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 300;
}


.partners__btn{
    color: $accent-color;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 700;
border: 2px solid $accent-color;
border-radius: 50px;
background-color: transparent;
padding: 12px 59px;
}